.user-tile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    color: var(--color-dark);
    background-color: var(--color-light-grey);
    text-decoration: none;
    /* box-shadow: 0.1rem 0.1rem 0.5rem 0 #0000004f; */
}

.user-img-container {
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
    overflow: hidden;
    border: 0.3rem solid var(--color-secondary);
}

.user-img {
    object-fit: cover;
}

.user-text-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--color-light);
}

.user-text-info-item-container {
    display: flex;
    align-items: center;
}

.user-text-info-icon {
    font-size: 1rem;
}

.user-text-info-item {
    /* display: block;
    width: 100px; */
    margin: 0;
    margin-left: 0.5rem;
}

.user-details-btn {
    margin-top: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.7rem;
    background-color: var(--color-secondary);
}
