body {
    /* Footer will be hidden on iOS Safari because of bottom panel */
    height: 100vh;
}
body {
    height: 100vh;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
        /* The hack for Safari */
        height: -webkit-fill-available;
    }
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
