.user-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem 1.5rem;
    background-color: var(--color-light-grey);
    font-size: 0.8rem;
}

.user-details-tile {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.user-details-picture-container {
    position: relative;
    top: 2rem;
    width: 126px;
    height: 126px;
    overflow: hidden;
    border-radius: 10rem;
    border: 0.3rem solid var(--color-secondary);
}

.user-details-text-info-container {
    padding: 2.5rem 1.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--color-light);
    width: 100%;
}
