.pagination-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: var(--color-light);
    background-color: var(--color-primary);
}

.pagination-btn:hover {
    background-color: var(--color-primary-hover);
}

.pagination-btn-before {
    left: 1rem;
}

.pagination-btn-next {
    right: 1rem;
}

@media (min-width: 720px) {
    .pagination-btn-before,
    .pagination-btn-next {
        position: absolute;
        top: 50%;
    }
}
