@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --color-primary: #2876be;
    --color-secondary: #88daa7;
    --color-light: #f8f8f8;
    --color-light-grey: #ececec;
    --color-grey: #cfcfcf;
    --color-dark: #2e2e2e;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}
