@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --color-primary: #2876be;
    --color-secondary: #4fbe7a;
    --color-light: #f0f0f0;
    --color-grey: #cfcfcf;
    --color-dark: #2e2e2e;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}
